                           /* STYLE FOR LOGINFORM  */

section{
    height: 882px;
    padding-top: 20px;
    border-top: 1px solid;
    background-image: url('img/image7.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    text-align: center;   
}

h1.title{
    font-size: 47px;
    font-family: cursive;
    color: white;
}

h2.logincontent {
	background-color: hsla(228, 7%, 14%, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
	height: 130px;
	text-size-adjust: 10px;
	font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    background-color: hsla(229, 62%, 58%, 0.36);
    text-shadow: black 10px;
  
}

.formcontent1 {
    border-bottom-width: thick;
    /* border: double darkmagenta; */
	width: 700px;
    height: 643px;
    padding-top: 0px;
    margin: 65px auto;
    text-align: center;
    color: lightyellow;
    background-color: hsla(229, 62%, 58%, 0.36);
    box-shadow: 0 10px 25px #ffb700;
  
}

.inputbox {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 20px;
    color: white;
    padding: 5px;
}

input.btn.login {
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 10px transparent;
    background-color: yellow;
    margin: 30px;
    width: 120px;
    color: rgb(0, 0, 5);
    box-shadow: 0 10px 25px #ffb700;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    position: static;
   
}

input.registerlogin{
    top: -131px;
    left: 842px;
    position: relative;
    border: transparent;
    background-color: transparent;
    border-radius: 10px;
    color: deepskyblue;
    
}

input.btn:hover{
    background-color: #9c3dc2;
    color: white
}

input.registerlogin:hover{
    background-color: #9c3dc2;
    color: white
}

p1.account{
    position: relative;
    top: 131px;
    left: -40px;
}

p2.message{
    list-style-position: inside;
    font-size: 19px;
    font-family: cursive;
    font-weight: bold;
}

                            /* END OF STYLE FOR LOGINFORM  */


                           /* STYLE FOR REGISTRATIONFORM  */
	
section.register{
    height: 1039px;
    border-top: 1px solid;
    background-image: url('img/image1.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    
}
.formcontent {
   
    font-size: 20px;
    font-weight: bolder;
	color: white;
    background-color: #ff980059;
    width: 548px;
    height: 853px;
    margin: auto;
    text-align: center;
    padding: 22px;
    border-bottom-width: thick;
	font-family: monospace;
    font-variant-caps: petite-caps;
}

.position{
    position: relative;
    top: -73px
}

p.box {
    text-align: center;
    color: powderblue;
    font-size: 29px;
    font-family: monospace;
    font-variant-caps: petite-caps;
}

input.text {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 20px;
    color: white;
    padding: 5px;
    
}
select.text {
    border-radius: 5px;
    border: 1px solid #fff;
    height: 30px;
    color: black;
    padding: 5px;
    
}


.btn{
    border: none;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    transition: .5s;
    background-color: rgba(0,0,0,0.5) ;
    border: 3px solid #ffb700;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -61px;
    border-radius: 25px;
}


.btn:hover{
    background-color: #ffb700;
}

input.pass{
    position: relative;
    left: -122px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 20px;
    color: white;
    padding: 5px;
}
p.pass{
    position: relative;
    left: -122px;
}

p.cpass{
    position: relative;
    left: 122px;
    top: -96px;
}

input.cpass{
    position: relative;
    left: 122px;
    top: -96px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 20px;
    color: white;
    padding: 5px;
}

.error{
    text-align: initial;
}

p.add1{
    position: relative;
    left:-122px;
}

input.add1{
    position: relative;
    left:-122px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 20px;
    color: white;
    padding: 5px;
}

p.add2{
    position: relative;
    left:122px;
    top:-95px;
}

input.add2{
    position: relative;
    left:122px;
    top: -96px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 20px;
    color: white;
    padding: 5px;
}


                            /* END OF STYLE FOR REGISTRATIONFORM  */


                               /* STYLE FOR SEARCHFORM  */
    
.formcontent2 {
    border-bottom-width: thick;
	width: 700px;
    height: 340px;
    padding-top: 0px;
    margin: 65px auto;
    text-align: center;
    color: lightyellow;
    background-color: hsla(229, 62%, 58%, 0.36);
    box-shadow: 0 10px 25px #ffb700;
    border-radius: 118px;
  
}


section.search{
    height: 884px;
    padding-top: 20px;
    border-top: 1px solid;
    background-image: url('img/image5.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    text-align: center;   
}

h1{
      font-size: 41px;
    color: cyan;

}

h2{
      font-family: cursive;
    font-size: 21px;
    color: lightgoldenrodyellow;
    list-style-position: inside;
    font-variant-caps: petite-caps;
}
.box1{
    border-radius: 27px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 21px;
    width: 300px;
    color: white;
    padding: 5px;
}

input.btnsearch {
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 10px transparent;
    background-color: yellow;
    margin: 30px;
    width: 120px;
    color: rgb(0, 0, 5);
    box-shadow: 0 10px 25px #ffb700;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    position: static;
   
}

input.btnsearch:hover{
    background-color: #9c3dc2;
    color: white
}

p.text{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-variant-caps: petite-caps;

}

select.select {
      font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 10px transparent;
    background-color: slateblue;
    width: 120px;
    color: rgb(0, 0, 5);
    box-shadow: 0 10px 25px #ffb700;
    transition: .5s;
    font-weight: bold;
    position: static;
   
}

.table{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

input.reserve{
      text-decoration: solid;
    color: floralwhite;
    border-radius: 10px;
    background-color: cornflowerblue;;
}

input.reserve:hover{
    background-color: floralwhite;
    color: cornflowerblue; ;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 87px;
background: transparent;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: azure;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: darkorchid;
    border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.reservation {
    position:absolute;
}

                                   /* END OF STYLE FOR SEARCHFORM  */


                                    /* START OF STYLE FOR RESERVATION  */

.formcontentRes {
    border-bottom-width: thick;
	width: 867px;
    height: 408px;
    padding-top: 0px;
    margin: 65px auto;
    text-align: center;
    color: lightyellow;
    background-color:hsla(170, 114%, 149%, 0.8);
    border-radius: 118px;
  
}

section.reserve{
    height: 882px;
    padding-top: 20px;
    border-top: 1px solid;
    background-image: url('img/image3.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    text-align: center;   
}

.tableR{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: black;
}

input.delete{
    text-decoration: solid;
    color: floralwhite;
    border-radius: 10px;
    background-color: cornflowerblue;;
}

input.delete:hover{
    background-color: floralwhite;
    color: cornflowerblue; ;
}

h2.message{
    font-family: cursive;
  font-size: 21px;
  color: black;
  list-style-position: inside;
  font-variant-caps: petite-caps;
}

                                    /* END OF STYLE FOR RESERVATION  */